<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @employee.notes %>
</p>

<p>
  <b>Store:</b>
  <%= @employee.store %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
