<h1>Listing touches</h1>

<table>
  <tr>
    <th>Notes</th>
    <th>At</th>
    <th>Campaign</th>
    <th>Store</th>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @touches.each do |touch| %>
  <tr>
    <td><%= touch.notes %></td>
    <td><%= touch.at %></td>
    <td><%= touch.campaign %></td>
    <td><%= touch.store %></td>
    <td><%= touch.employee %></td>
    <td><%= link_to 'Show', touch %></td>
    <td><%= link_to 'Edit', edit_touch_path(touch) %></td>
    <td><%= link_to 'Destroy', touch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Touch', new_touch_path %>
